<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>example1</title>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="angular-beans.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/module.js"></script>

</head>
<body ng-controller="FirstCtrl as vm">
	<div>
		<input type="text" placeholder="First Name" ng-model="user.firstName">
		<input type="text" placeholder="Last Name" ng-model="user.lastName">
		<input type="text" placeholder="Login" ng-model="user.login">
		<input type="password" placeholder="password" ng-model="user.password">
		<input type="text" placeholder="mail" ng-model="user.email">
		<input type=checkbox ng-model="user.isDeleted"><span>deleted</span> 
		<input type="checkbox" ng-model="user.isActivated"><span>activated</span>
	
		
	
		<button ng-click="addUserCtrlJs(user)">add User</button>
	</div>
	<div>
		<h2>User Search</h2>
		<input type="email" placeholder="mail" ng-model="mail">
		<button ng-click="searchUserJs(mail)">search user</button>
		
		<table>
		   <tr>
		      <th>Prénom</th>
		      <th>Nom</th>
		      <th>Login</th>
		      <th>Email</th>
		      <th>Password</th>
		   </tr>
		   <tr>
		      <td>{{findUser.firstName}}</td>
		      <td>{{findUser.lastName}}</td>
		      <td>{{findUser.login}}</td>
		      <td>{{findUser.email}}</td>
		      <td>{{findUser.password}}</td>
		   </tr>
		   
		</table>
	</div>
</body>
</html>