<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>example1</title>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="angular-beans.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/module.js"></script>
<script type="text/javascript" src="js/homeCtrl.js"></script>
<link href="css/amal.css" rel="stylesheet" />


</head>
<body ng-controller="SecondCtrl as vn">

 

	<center><div id="tt">
	 <h2 ><label id="sg">Sign-up  </label>  </h2> </div>
  <div>
    <input type="text" id="name" name="name" placeholder="Nom.." ng-model="user.firstName"/><br> <br>
    <input type="text" id="name" name="name" placeholder="prenom.." ng-model="user.lastName"/><br> <br>
    <input type="text" id="mail" name="mail" placeholder="Mail.." ng-model="user.email"/><br><br>
    <input type="password" id="password" name="password"  placeholder="Password.." ng-model="user.password"/><br><br>

 date de naissance: <input type="date" name="bday"  ng-model="user.dateNess"/><br>
  <input type="checkbox" id="sexe" name="homme" ng-model="user.isHomme" /> homme
  <input type="checkbox" id="sexe" name="femme" ng-model="user.isFemme" />femme
  <br>
<button ng-click="addUserCtrlJs(user)">creé user</button>
		

</div>
</center>
</body>
</html>