<!DOCTYPE html>
<html ng-app="myModule">
<head>
<meta charset="ISO-8859-1">
<title>example1</title>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="angular-beans.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/controler2.js"></script>
<script type="text/javascript" src="js/module.js"></script>
<link href="css/style.css" rel="stylesheet" />

</head>
<body ng-controller="FirstCtrl as vm">

 

  <body>

      <div id="login">

        <h2><span class="fontawesome-lock"></span>Sign In</h2>

       

          <fieldset>

            <p><label for="email">E-mail address</label></p>
            <p><input type="email" id="email" placeholder="mail@address.com" ng-model="vm.helloBean.user.mail" ></p>

            <p><label for="password">Password</label></p>
            <p><input type="password" id="password" placeholder="password" ng-model="vm.helloBean.user.password"></p>

        <p><b><a  ng-click="searchUserJs(vm.helloBean.user)">Login </a></b></p>
        
  <p><b><a href = "index2.html">sing up</button></b></p>
          </fieldset>

    </div>

  </body>	
</html>