<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="angular-beans.js"></script>
<script type="text/javascript" src="js/controller.js"></script>
<script type="text/javascript" src="js/module.js"></script>
<script type="text/javascript" src="js/homeCtrl.js"></script>
<link href="css/amal.css" rel="stylesheet" />
</head>
<body ng-controller="FirstCtrl as vm">
<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>
		
		<form class="form">
			<p><input type="email" id="email" placeholder="mail@address.com" ng-model="vm.helloBean.user.mail"/><bd></p>
			<p><input type="password" id="password" placeholder="password" ng-model="vm.helloBean.user.password"/></p>
			<p><button ng-click="searchUserJs(vm.helloBean.user)" id="login-button">Login</button>
			</p>
		
		</form><b><a href = "index2.html">sing up</a></b>
	</div>
	
</div>
</body>
</html>